<!DOCTYPE html>
	
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>Category / {{ category.name }}</h1>
		</br>

    {% if items !=[] %}

		<a href = "{{url_for('newCategoryItem', category_id = category.id)}}"><h3>Create New Item</h3></a>
		</br></br>

		{% for i in items %}		
			<a href='{{url_for('showCategoryItemDetail', category_id = category.id, item_id=i.id ) }}'><p><h2>{{i.name}}</h2></p></a>
			</br>			
			<a href='{{url_for('editCategoryItem', category_id = category.id, item_id=i.id ) }}' >Edit</a>
			</br>
			<a href='{{url_for('deleteCategoryItem', category_id = category.id, item_id=i.id ) }}' >Delete</a>
			</br>
			</br>			
		
		{% endfor %}		

		{% else %}

		<p> You currently have no category items. <p>
		<a href = "{{url_for('newCategoryItem', category_id = category.id )}}"><h3>Create New Item</h3></a>
		{% endif %}
		<a href='{{url_for('showCategories')}}' >Cancel</a>
		
		</div>
	</body>
</html>
