<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body><h1> Edit - {{item.category.name}} </h1>

<form action="{{url_for('editCategoryItemDetail',category_id = item.category_id, item_id = item.id)}}" method = 'post'>
	
	<p>Description:</p>

	<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>

	</br>

<input type='submit' value='Edit'>	

</form>
	<a href = '{{url_for('showCategoryItemDetail', category_id = item.category_id, item_id = item.id)}}'> Cancel </a>
</body>
</html>
