<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ category.name }}</h1>
		
		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newMenuItem', category_id = category.id )}}">Create New Item</a>
	</br></br>

	<h2>Soccer</h2>

		{% for i in items %}
		{% if i.course == 'Soccer' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	
	
		<a href='{{url_for('editMenuItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}

		

		<!--</br></br>

	<h2>Entrees</h2>

		{% for i in items %}
		{% if i.course == 'Entree' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editMenuItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Desserts</h2>

		{% for i in items %}
		{% if i.course == 'Dessert' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editMenuItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	
	<a href='{{url_for('deleteMenuItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Beverages</h2>

		{% for i in items %}
		{% if i.course == 'Beverage' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>

		<a href='{{url_for('editMenuItem', category_id = category.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', category_id = category.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
{% endif %}

		{% endfor %}-->
		
		

		{% else %}
		<p> You currently have no menu items. <p>
		<a href = "{{url_for('newMenuItem', category_id = category.id )}}">Create New Item</a>
			{% endif %}
</div>
	</body>

</html>
